/* Set styles for the entire HTML document */
html {
    height: 100%;
    width: 100%;
}

/* Add this rule to set the background color for the first row */
#billTable tr:first-child {
    background-color: #033047;
    color: white;
}

/* Style the "Scrape and Export" button */
#scrapeButton {
    position: fixed;
    bottom: 20px;
    left: 20px;
    padding: 10px 20px; /* Adjust padding as needed */
    background-color: #4CAF50; /* Button background color */
    color: white; /* Button text color */
    border: none;
    cursor: pointer;
}

/* Add hover effect for the button */
#scrapeButton:hover {
    background-color: #45a049; /* Change background color on hover */
}
